annotated-types
anyio
certifi~=2024.2.2
click
colorama
dnspython
fastapi~=0.110.0
h11
httptools
idna
pip~=24.0
pydantic~=2.6.4
pymongo~=3.11.0
python-dotenv
PyYAML
setuptools~=68.2.0
sniffio
starlette
uvicorn~=0.29.0
watchfiles
websockets
wheel~=0.41.2
httpx~=0.24.0
PyJWT==2.8.0
passlib~=1.7.4

typing_extensions~=4.10.0
jose~=1.0.0